/* ~~~~~~ Font Imports ~~~~~~ */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700;800&display=swap');

/* ~~~~~~ Root Variables ~~~~~~ */

:root {
    /* Font Variables */
    --font: 'Montserrat', sans-serif;

    /* Colour Variables */
    --blue: #2F2E41;
    --orange: #E74610;
    --black: #000000;
    --white: #ffffff;
    --grey: #E6E6E6;


    /* Misc Colour Variables */
    --border-shadow: rgba(10, 10, 10, 0.663);
    --border-dark: rgba(0, 0, 0, 0.497);
    --border-light: rgba(0, 0, 0, 0.217);
}


/* ~~~~~~ Reset Styling ~~~~~~ */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    background-color: var(--grey)
}
body {
    font-family: var(--font);
    color: var(--blue);
}
section {
    height: 100vh;
    width: 100vw;
}
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
li {
    list-style: none;
}


/* ~~~~~~ Navbar Stylings ~~~~~~ */

/* --- header --- */
header {
    background-color: var(--white);
    border-bottom: 1px solid var(--border-shadow);
    padding: 4%;
    overflow: hidden;
    font-size: 1.6rem;
    letter-spacing: 2px;

    /* to make navbar 'sticky' */
    position: fixed;
    width: 100%;
    top: 0;
}

/* --- logo --- */

#logo {
    font-weight: 700;
}

#casey {
    color: var(--orange);
}

/* --- mobile navbar --- */

/* adapted from w3schools example (https://tinyurl.com/w3schools-mobile-nav) */
#nav-btn {
    display: block;
    position: absolute;
    right: 20px;
    top: 16px;
}

#mobile-nav {
    /* mobile nav links hidden until menu is selected */    
    display: none;
    text-align: right;
    padding: 20px 0 0;
}

#large-nav {
    display: none;
}

.nav-link {
    color: var(--orange);
    display: block;
    padding: 10px 0;
    border-bottom: 1px solid var(--border-light);
}

#header-socials > li {
    display: inline-block;
    color: var(--orange);
    padding: 10px 2px;
    font-size: 2rem;
}


/* ~~~~~~ Main Stylings ~~~~~~ */

/* --- Common Section Stylings --- */
.section-title {
    padding: 80px 10px 12px;
    text-align: center;
    color: var(--orange);
    font-size: 1.1rem;
    letter-spacing: 3px;
}

/* --- About Section Stylings --- */
#about {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
}

#about-image {
    padding: 40px;
}

#about-image > img {
    width: 100%;
    height: 100%;
}

#about-text {
    line-height: 20px;
    padding: 10px;
    text-align: justify;
}

#about-text > h3 {
    padding-bottom: 10px;
}

/* --- Projects Section Stylings --- */
#projects {
    background-color: var(--grey);
}

.card {
    background-color: var(--white);
    box-shadow: var(--border-light) 0px 2px 8px 0px;
    max-width: 70%;
    margin: 0 auto 10px;
    padding: 20px 10px;
    font-size: .8rem;
}

.card-img {
    padding: 0 20px;
    text-align: center;
}
.card-img > img {
    width: 80%;
    height: 80%;
    box-shadow: var(--border-light) 0px 2px 8px 0px;
}

.card-text {
    padding: 10px 20px 5px;
}

.card-title {
    color: var(--orange);
    padding-bottom: 5px;
    font-size: .9rem;
}


/* --- Skills Section Stylings --- */
#skills {
    background-color: var(--white);
}

#skills-container {
    display: flex;
    flex-wrap: wrap;
    padding: 12px 20px;
}

.skills-item {
    max-width: 40%;
    margin: auto;
    padding: 20px 10px;
}

.skills-item > img{
    width: 100%;
    box-shadow: var(--border-light) 0px 2px 8px 0px;
}

/* --- Contact Section Stylings --- */
#Contact {
    background-color: var(--grey);
}


/* ~~~~~~ Footer Stylings ~~~~~~ */
footer {
    border: 1px solid var(--blue);
    background-color: var(--white);
    text-align: center;
    font-size: 1.4em;
    padding: 20px;
}

#footer-socials {
    display: none;
}


/* ~~~~~~ MEDIA QUERIES ~~~~~~ */

/* --- Standard breakpoint for medium devices --- */
@media screen and (min-width: 768px) {

    /* --- Navbar Stylings --- */

    header {
        padding: 2% 4%;
    }
    #logo {
        font-size: 2.2rem;
    }

    #nav-btn {
        right: 30px;
        top: 20px;
    }

    .nav-link {
        font-size: 1.8rem;
    }

    /* --- Common Section Stylings --- */
    .section-title {
        padding: 15% 5% 5% ;
        font-size: 1.3rem;
    }

    /* --- About Section Stylings --- */
    #about {
        flex-direction: row-reverse;
        padding: 10% 5%;
    }

    #about-image, #about-text {
        width: fit-content;
    }

    /* --- Projects Section Stylings --- */
    .card {
        display: flex;
        flex-direction: row;
        align-items: center;
        max-width: 60%;
        padding: 20px;
        font-size: .9rem;
    }

    .card-img {
        padding: 0;
    }

    .card-img > img {
        width: 100%;
        height: 100%;
    }

    .card-title {
        padding-bottom: 8px;
        font-size: 1rem;
    }

    /* --- Skills Section Stylings --- */
    #skills-container {
        padding: 4% 16%;
    }

    .skills-item {
        max-width: 30%;
    }
}

/* --- Standard breakpoint for large devices --- */
@media screen and (min-width: 1024px) {

    /* --- Navbar Stylings --- */
    
    header {
        padding: 1% 2%;
        display: flex;
        justify-content: space-between;
    }
    
    #logo {
        font-size: 2rem;
    }

    #mobile-nav, #nav-btn {
        display: none;
    }

    #large-nav {
        display: flex;
        flex-direction: row-reverse; 
    }

    #logo {
        margin: auto 10px;
    }

    #large-nav-links > li {
        display: inline-block;
        padding: 10px;
    }

    .nav-link {
        color: var(--blue);
        font-size: 1.4rem;
        transition: all 0.3s ease 0s;
        border-bottom: 0px;
    }
    .nav-link:hover{
        color: var(--orange);
        text-decoration: underline;
    }

    /* --- Common Section Stylings --- */
    .section-title {
        padding: 10% 4% 4%;
        font-size: 1.5rem;
    }

    /* --- About Section Stylings --- */
    #about {
        padding: 12%;
        text-align: left;
    }

    #about-image, #about-text {
        padding: 5%;
    }

    #about-text {
        font-size: 1.3rem;
        line-height: 150%;
    }

    #about-text > h3 {
        padding-bottom: 20px;
    }

    /* --- Projects Section Stylings --- */
    #project-cards {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        min-height: 60vh;
    }
    .card {
        padding: 20px;
        margin: 30px;
        font-size: 1.3rem;
    }

    .card-title {
        font-size: 1.4rem;
    }

    .card-title > a{
        transition: all 0.3s ease 0s;
    }

    .card-title > a:hover{
        color: var(--blue);
    }

    /* --- Skills Section Stylings --- */
    #skills-container {
        padding: 4%;
    }

    .skills-item {
        max-width: 12%;
        margin: auto;
        padding: 20px 10px;
    }

    .skills-item > img{
        width: 100%;
        box-shadow: var(--border-light) 0px 2px 8px 0px;
    }

    /* --- Footer Stylings --- */
    #footer-socials {
        display: block;
    }
    #footer-socials > ul > li {
        display: inline-block;
        padding: 10px 2px;
        font-size: 2rem;
    }
    .footer-icon {
        transition: all 0.3s ease 0s;
    }
    .footer-icon:hover {
        color: var(--orange);
    }
}
