/* --- Font Imports --- */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700;800&display=swap');

/* --- Root Variables --- */

:root {
    /* Font Variables */
    --font: 'Montserrat', sans-serif;

    /* Colour Variables */
    --blue: #2F2E41;
    --orange: #D9512A;
    ----black: #000000;
    --white: #ffffff;
    --grey: #E6E6E6;


    /* Misc Colour Variables */
    --border-shadow: rgba(10, 10, 10, 0.663);
    --border-dark: rgba(0, 0, 0, 0.497);
    --border-light: rgba(0, 0, 0, 0.074);
}


/* --- Reset Styling --- */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    background-color: var(--grey)
}
body {
    font-family: var(--font);
    color: var(--blue);
}
section {
    height: 100vh;
    width: 100vw;
}
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
li {
    list-style: none;
}


/* --- HEADER Stylings --- */

/* --- header --- */
header {
    background-color: var(--white);
    border-bottom: 1px solid var(--border-shadow);
    padding: 5%;
    position: relative;
    overflow: hidden;
    font-size: 1.6rem;
}

/* --- logo --- */

#casey {
    color: var(--orange);
}

/* --- mobile navbar --- */

/* adapted from w3schools example (https://tinyurl.com/w3schools-mobile-nav) */
#nav-btn {
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
}

#mobile-nav {
    /* mobile nav links hidden until menu is selected */    
    display: none;
    text-align: right;
    padding: 10px 0 0 0;
}

#mobile-nav ul :not(:last-child) {
    /* apply border to bottom of nav links (except the last one) */
    border-bottom: 1px solid var(--border-light);
}

.nav-link {
    color: var(--orange);
    display: block;
    padding: 10px 0;
}